<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 로그인</title>
</head>
<body>

    <h1>회원 로그인</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>
    <form method="post" action="/member/login">

        <div>
            <input type="text" name="email" placeholder="아이디(email)를 입력" required/>
        </div>
        <div>
            <input type="password" name="password" placeholder="비밀번호 입력" required/>
        </div>
        <div>
            <button type="submit"> 로그인 </button>
        </div>

    </form>

    <hr/>
    <div>
        <a href="/templates/member/find-password"> 비밀번호 찾기</a>
    </div>

</body>
</html>
