<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <h1>회원 가입</h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <div th:text="${errorMessage}">
    </div>
    <form method="post">

        <div>
            <input type="text" name="userName" placeholder="이름 입력" required />
        </div>

        <div>
            <input type="text" name="email" placeholder="아이디(email) 입력" required />
        </div>

        <div>
            <input type="tel" name="phone" placeholder="전화번호 입력" required />
        </div>

        <div>
            <input type="password" name="password" placeholder="비밀번호 입력" required />
        </div>
        <div>
            <input type="password" name="rePassword" placeholder="비밀번호 입력 확인" required/>
        </div>
        <div>
            매장 매니저입니까?<input type="checkbox" name="isManager" value='1'>
        </div>
        <div>
            <button type="submit">회원 가입</button>
        </div>

    </form>

</body>
</html>
